.code-container {
	margin: 20px 16px 0;
    border-radius: 8px;
    background-color: #fff;

    .title {
	    font-size: 28px;
		padding: 8px 14px;
	    line-height: 46px;
	    color: #F5665E;
	    font-weight: bold;
	    letter-spacing: 1px;
	    font-family: PingFangSC-Medium;
	    text-align: center;
	}

	.description {
		font-size: 16px;
		padding: 0 14px;
	    line-height: 24px;
	    color: #666;
	    font-family: PingFangSC-Medium;
	    text-align: justify;
	}

	.qr-code {
    	position: relative;

		.transparent-bg {
			opacity: 0;
			width: 100%;
		}

		.non-transparent-bg {
			width: 100%;
    		position: absolute;
    		left: 0;
    		bottom: -20px;
		}

		.code { 
			width: 40%;
			position: absolute;
    		left: 30%;
    		bottom: 0;
		}
	}
	
}