* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style-type: none;
}

body {
    background-color: #F5665E;
    font-family: HelveticaNeue,Helvetica,Arial,sans-serif;
    padding-bottom: 50px;
    max-width: 375px;
    margin: auto;
}