.section {
    background-color: #fff;
    border-radius: 12px;
    margin: 20px 16px 0;
    padding-bottom: 12px;
}

.title {
    font-size: 24px;
    padding-left: 14px;
    padding-top: 8px;
    line-height: 40px;
    color: #333;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: PingFangSC-Medium;
    margin-bottom: 4px;
}

.item {
    padding: 6px 14px;

    .description {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #676767;
        letter-spacing: 1px;
    }
}

.percent-bg {
    width: 100%;
    background-color: #f3f4f5;
    height: 10px;
    border-radius: 5px;
    margin: 8px 0;
    position: relative;
}

.bg-green {
    background-color: #5A83FF;
}

.border-green {
    border: 1px solid rgba(#5A83FF, 0.3);
}

.bg-pink {
    background-color: #FF739C;
}

.border-pink {
    border: 1px solid rgba(#FF739C, 0.3);
}

.bar {
    height: 10px;
    border-radius: 5px;
    position: absolute;
}

.dot {
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 12px;
    position: absolute;
    top: -7px;
    margin-left: -12px;
}

.dot-content {
    border-radius: 10px;
    text-align: center;
    color: #fff;
    line-height: 20px;
    font-size: 12px;
}

.legend {
    padding: 20px 14px 10px;
    display: flex;
    align-items: center;

    span {
        font-size: 12px;
        color: #999;
        margin-right: 20px;
    }
}

.dot-sm {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 8px;
}