.certificate-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 50px 10px 0;
	position: relative;
	min-height: 500px;

	.image {
		position: absolute;
		bottom: 44%;
		width: 100%;
		margin: 0 auto;
		text-align: center;

		.full-image {
			width: 240px;
		}

		.part-image {
			width: 90%;
		}
	}

	.info {
		background-color: #fff;
		border-radius: 6px;
		padding: 30px 16px;
		min-height: 190px;

		.title {
			font-family: PingFangSC-Medium;
			font-size: 34px;
			color: #F5665E;
			font-weight: bold;
			letter-spacing: 1px;
			text-align: center;
			margin: 8px 0 16px;
		}

		.content {
			font-family: PingFangSC-Medium;
			font-size: 18px;
			color: #666;
			letter-spacing: 1px;
			line-height: 30px;

			.name {
				margin-right: 5px;
			}

			img {
				display: inline-block;
				height: 26px;
				position: relative;
    			top: 5px;
    			margin: 0 2px;
			}	
		}
	}
}